[submodule "powerlevel10k"]
    path = zsh/plugins/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k
[submodule "fzf"]
    path = zsh/plugins/fzf
    url = https://github.com/junegunn/fzf
[submodule "zsh-vim-mode"]
    path = zsh/plugins/zsh-vim-mode
    url = https://github.com/softmoth/zsh-vim-mode
[submodule "zsh-syntax-highlighting"]
    path = zsh/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-bd"]
    path = zsh/plugins/zsh-bd
    url = https://github.com/Tarrasch/zsh-bd

[submodule "plenary"]
    path = nvim/pack/plugins/start/plenary.nvim
    url = https://github.com/nvim-lua/plenary.nvim

[submodule "telescope"]
    path = nvim/pack/plugins/start/telescope.nvim
    url = https://github.com/nvim-telescope/telescope.nvim
    update = rebase
[submodule "telescope-fzf-native"]
    path = nvim/pack/plugins/start/telescope-fzf-native.nvim
    url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git

[submodule "nvim-treesitter"]
    path = nvim/pack/plugins/start/nvim-treesitter
    url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim-treesitter-textobjects"]
    path = nvim/pack/plugins/start/nvim-treesitter-textobjects
    url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "nvim-ts-context-commentstring"]
    path = nvim/pack/plugins/start/nvim-ts-context-commentstring
    url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git

[submodule "fixity"]
    path = nvim/pack/plugins/start/fixity.nvim
    url = https://github.com/roflolilolmao/fixity.nvim
    update = rebase
[submodule "gitsigns"]
    path = nvim/pack/plugins/start/gitsigns.nvim
    url = https://github.com/lewis6991/gitsigns.nvim.git

[submodule "nvim-lspconfig"]
    path = nvim/pack/plugins/start/nvim-lspconfig
    url = https://github.com/neovim/nvim-lspconfig
    ignore = untracked
[submodule "null-ls"]
    path = nvim/pack/plugins/start/null-ls.nvim
    url = https://github.com/jose-elias-alvarez/null-ls.nvim

[submodule "nvim-cmp"]
    path = nvim/pack/plugins/start/nvim-cmp
    url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp_luasnip"]
    path = nvim/pack/plugins/start/cmp_luasnip
    url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "cmp-nvim-lsp"]
    path = nvim/pack/plugins/start/cmp-nvim-lsp
    url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "cmp-path"]
    path = nvim/pack/plugins/start/cmp-path
    url = https://github.com/hrsh7th/cmp-path
[submodule "LuaSnip"]
    path = nvim/pack/plugins/start/LuaSnip
    url = https://github.com/L3MON4D3/LuaSnip.git
    ignore = untracked

[submodule "lightspeed"]
    path = nvim/pack/plugins/start/lightspeed.nvim
    url = https://github.com/ggandor/lightspeed.nvim.git
    ignore = untracked
[submodule "neuron"]
    path = nvim/pack/plugins/start/neuron.nvim
    url = https://github.com/oberblastmeister/neuron.nvim.git
[submodule "zen-mode"]
    path = nvim/pack/plugins/start/zen-mode.nvim
    url = https://github.com/folke/zen-mode.nvim.git

[submodule "oceanic-next"]
    path = nvim/pack/plugins/start/oceanic-next.nvim
    url = https://github.com/roflolilolmao/oceanic-next.nvim
[submodule "lualine"]
    path = nvim/pack/plugins/start/lualine.nvim
    url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim-web-devicons"]
    path = nvim/pack/plugins/start/nvim-web-devicons
    url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "nvim-colorizer.lua"]
    path = nvim/pack/plugins/start/nvim-colorizer.lua
    url = https://github.com/norcalli/nvim-colorizer.lua.git
    ignore = untracked

[submodule "vim-python-pep8-indent"]
    path = nvim/pack/plugins/start/vim-python-pep8-indent
    url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "impatient"]
    path = nvim/pack/plugins/start/impatient.nvim
    url = https://github.com/lewis6991/impatient.nvim
[submodule "repeat"]
    path = nvim/pack/plugins/start/vim-repeat
    url = https://github.com/tpope/vim-repeat
[submodule "sandwich"]
    path = nvim/pack/plugins/start/vim-sandwich
    url = https://github.com/machakann/vim-sandwich
[submodule "nvim-tree"]
	path = nvim/pack/plugins/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "rust-tools"]
	path = nvim/pack/plugins/start/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim
[submodule "dap"]
	path = nvim/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "dap-ui"]
	path = nvim/pack/plugins/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim-lsp-installer"]
	path = nvim/pack/plugins/start/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer
[submodule "darcula"]
	path = nvim/pack/plugins/start/darcula
	url = https://github.com/doums/darcula
[submodule "html5"]
	path = nvim/pack/plugins/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "javascript"]
	path = nvim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "svelte"]
	path = nvim/pack/plugins/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte
